  .whole{
    background-color: #0e1921;
  }

  .row {
    display: flex;
  }
  
  .column {
    flex: 33.33%;
    padding: 5px;
  }
  .character {
    padding-left: 50px;
    width: 80%;
    height: auto;
    border-radius: 8px;
    display: block;
  }
  .charactertext {
    text-align: center;
    border: 1.5px solid red;
    color: white;
  } 
  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: grey;
  }
  .container {
    position: relative;
    width: 100%;
  }
  .container:hover .overlay {
    opacity: 1;
  }
  .text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
  }